html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --color-bg: linear-gradient(-45deg, #FFDF20, #18786F, #F0B13B);
    --color-title: #ffffff;
    --color-type: #145a50;
    --color-price: #e63946;
    --color-detail-bg: #18786F;
    --color-detail-text: #ffffff;
    --color-bg-2: linear-gradient(-45deg, #5EA529, #9AE630, #BBF451, #DCFCE7);
    --color-bg-tiles: linear-gradient(-45deg, #05DF72, #BBF451);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Slab', serif;
    min-height: 100vh;
    background: var(--color-bg-2);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.heading {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    margin-bottom: 5rem;
    position: relative;
}

.heading-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.heading-title>h1 {
    font-size: 8rem;
    transform: skewY(-10deg);
    position: relative;
    color: white;

}

h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-bg-tiles);
    z-index: -1;
    transform: skewY(20deg);

}

.outer-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "card-1";
    width: 100vw;
}

.card-contents {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "emoji title type quantity price details-check";
    align-items: center;
    position: relative;
    background: transparent;
    width: 70%;
    justify-self: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-contents::before {
    content: "";
    background-color: white;
    position: absolute;
    transform: skewX(-20deg);
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.card-contents:hover {
    transform: skewX(-5deg) scale(1.03);
}

.card-emoji {
    grid-area: emoji;
    font-size: 5rem;
    position: relative;
    max-width: 100%;
}


.card-emoji::before {
    /* content: var(--emoji, "🥑"); */
    font-size: var(--emoji-size, 5rem);
    position: absolute;
    top: 0;
    left: 30px;
}

.apple::before {
    /* content: var(--emoji, "🍎"); */
    font-size: var(--emoji-size, 5rem);
    position: absolute;
    top: 0;
    left: 27px;
}

.banana::before {
    /* content: var(--emoji, "🍌"); */
    font-size: var(--emoji-size, 5rem);
    position: absolute;
    top: 0;
    left: 30px;
}

.grapes::before {
    /* content: var(--emoji, "🍇"); */
    font-size: var(--emoji-size, 5rem);
    position: absolute;
    top: 0;
    left: 30px;
}

.oranges::before {
    /* content: var(--emoji, "🍊"); */
    font-size: var(--emoji-size, 5rem);
    position: absolute;
    top: 0;
    left: 30px;
}

.card-title-container {
    position: relative;
    grid-area: title;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-title);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* text-transform: uppercase; */
}

.card-title-container::before {
    content: "";
    position: absolute;
    background: var(--color-bg-tiles);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewX(-20deg);
    background-size: 180% 180%;
    background-position: 0% 50%;
    animation: gradient 8s infinite linear;
}

.card-type {
    grid-area: type;
    font-size: 3rem;
    color: #9AE630;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.card-type::before {
    content: "";
    height: 100%;
    width: 100%;
    /* border-left: 2px solid gray; */
    border-right: 0.5px solid gray;
    transform: skewX(-20deg);
    position: absolute;
}

.card-quantity {
    grid-area: quantity;
    font-size: 2.5rem;
    color: #9AE630;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    /* padding: 0 15px 0 25px; */
}

.card-quantity::before {
    content: "";
    height: 100%;
    width: 100%;
    /* border-left: 2px solid gray; */
    border-right: 0.5px solid gray;
    transform: skewX(-20deg);
    position: absolute;
}

.card-price {
    grid-area: price;
    font-size: 2.5rem;
    font-weight: 700;
    color: #62748E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 5px;
}

.card-details-check {
    grid-area: details-check;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    height: 100%;
    color: var(--color-detail-text);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-details-check::before {
    position: absolute;
    content: "";
    background: var(--color-bg-tiles);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewX(-20deg);
    background-size: 300% 300%;
    background-position: 0% 50%;
    animation: gradient 8s infinite linear;
}

.emoji-right {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}


@media(max-width:900px) {
    .card-contents {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "title type price"
            "quantity details-check details-check";
    }

    .card-contents::before {
        transform: skewX(0deg);
    }

    .card-emoji {
        display: none;
    }

    /* hide all pseudo-elements */
    .card-emoji::before,
    .apple::before,
    .banana::before,
    .grapes::before,
    .oranges::before {
        content: none !important;
        /* completely remove content */
        font-size: 0 !important;
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }

    .card-title-container::before {
        transform: skewX(0deg);
    }

    .card-details-check::before {
        transform: skewX(0deg);
    }

    .card-type::before {
        transform: skewX(0);
    }

    .card-quantity::before {
        transform: skewX(0);
    }

    .card-contents:hover {
        transform: scale(1.07);
    }

    .heading-title>h1 {
        font-size: 4rem;
        transform: skewY(10deg);
        position: relative;
        color: white;

    }
    .heading{
        top: 1rem;
    }

    h1::before {
        background: var(--color-bg-tiles);
        z-index: -1;
        transform: skewY(-20deg);
    }
}